.cta-box {
  text-align: center;
  margin-top: 2rem;

  &__card {
    box-shadow: 0 10px 33px rgba(0, 0, 0, 0.1);
    padding: 100px 50px 80px 50px;
    border-radius: 30px;
    position: relative;
    background: white;
    margin-bottom: -125px;
    margin-top: 225px;
    & h2 {
      margin-bottom: 60px;
      font-size: 30px;
    }
  }
}
