@import "variables";
@import "mixins";

// Poppins font
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
//open sans font
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap");

html {
  font-size: 100%;
}
body {
  font-family: "Open Sans", sans-serif;
  font-weight: $fontSmall;
  font-size: 1rem;
  color: $veryDarkCyan;
  line-height: 1.3;
}

a {
  font-style: none;
  text-decoration: none;
  color: white;
}

h1,
h2,
h3,
h4 {
  font-family: "Poppins", sans-serif;
  font-weight: $fontBold;
}
img {
  width: 100%;
}
// helper classes
.container {
  width: 90%;
  margin: 0 auto;
}
.flex {
  display: flex;
}
.fd-c {
  flex-direction: column;
}
.jc-sb {
  justify-content: space-between;
}
.ai-c {
  align-items: center;
}
button,
.btn {
  border: none;
  border-radius: 50px;
  font-size: 1.125rem;
  box-shadow: 0 10px 33px rgba(0, 0, 0, 0.2);
  background-color: $pink;
  padding: 24px 120px;
  color: white;
  cursor: pointer;
  transition: all 350ms ease-in-out;
}
.cta {
  font-weight: $fontExtraBold;
  font-family: "Open Sans", sans-serif;
}

// INTRO
.intro {
  background-image: url("/images/bg-hero-mobile.svg");
  background-repeat: no-repeat;
  background-position: center 363%;
  background-size: 106%;
  background-color: hsl(193, 100%, 96%);
  margin-bottom: 120px;
}

@import "header";
@import "hero";
@import "features";
@import "ctaBox";
@import "footer";
