@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap");
html {
  font-size: 100%;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  color: #00252e;
  line-height: 1.3;
}

a {
  font-style: none;
  text-decoration: none;
  color: white;
}

h1,
h2,
h3,
h4 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

img {
  width: 100%;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.fd-c {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

button,
.btn {
  border: none;
  border-radius: 50px;
  font-size: 1.125rem;
  -webkit-box-shadow: 0 10px 33px rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 33px rgba(0, 0, 0, 0.2);
  background-color: #ff52bf;
  padding: 24px 120px;
  color: white;
  cursor: pointer;
  -webkit-transition: all 350ms ease-in-out;
  transition: all 350ms ease-in-out;
}

.cta {
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
}

.intro {
  background-image: url("/images/bg-hero-mobile.svg");
  background-repeat: no-repeat;
  background-position: center 363%;
  background-size: 106%;
  background-color: #ebfbff;
  margin-bottom: 120px;
}

.header {
  padding-top: 3.5rem;
  margin-bottom: 8.9375rem;
}

.header__logo img {
  width: 12.5rem;
  height: 2rem;
}

.header__cta .btn {
  background-color: white;
  color: #00252e;
  font-size: 20px;
  padding: 0.875rem 2.8125rem;
}

.hero {
  padding: 3rem;
  text-align: center;
}

.hero__message {
  margin-bottom: 6.875rem;
}

.hero__message h1 {
  font-size: 3rem;
  line-height: 1.55;
  margin-bottom: 4.375rem;
}

.hero__message p {
  line-height: 1.4;
  margin-bottom: 4.375rem;
  font-size: 1.5rem;
}

.features__card {
  padding: 100px 90px 72px 90px;
  text-align: center;
  -webkit-box-shadow: 0 10px 33px rgba(0, 0, 0, 0.1);
          box-shadow: 0 10px 33px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.features__card:not(:last-child) {
  margin-bottom: 5rem;
}

.features__image {
  margin-bottom: 7.625rem;
}

.features__message h2 {
  margin-bottom: 48px;
  font-size: 40px;
}

.features__message p {
  font-size: 28px;
  font-weight: 300;
  color: #808d99;
}

.cta-box {
  text-align: center;
  margin-top: 2rem;
}

.cta-box__card {
  -webkit-box-shadow: 0 10px 33px rgba(0, 0, 0, 0.1);
          box-shadow: 0 10px 33px rgba(0, 0, 0, 0.1);
  padding: 100px 50px 80px 50px;
  border-radius: 30px;
  position: relative;
  background: white;
  margin-bottom: -125px;
  margin-top: 225px;
}

.cta-box__card h2 {
  margin-bottom: 60px;
  font-size: 30px;
}

.footer {
  background-color: #00252e;
  color: white;
  font-size: 32px;
}

.footer .container {
  padding-top: 15.625rem;
}

.footer__logo img {
  width: 20.875rem;
  height: 3.4375rem;
  margin-bottom: 3.4375rem;
}

.footer__contacts div {
  margin-bottom: 3.75rem;
}

.footer__contacts div i {
  margin-right: 2.8125rem;
}

.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 3.75rem;
}

.footer__nav a:not(:last-child) {
  margin-bottom: 3.75rem;
}

.footer__socials {
  text-align: center;
  margin-bottom: 50px;
}

.footer__socials i {
  border: 1px solid white;
  padding: 0.75rem;
  border-radius: 50%;
  cursor: pointer;
}

.footer__socials i:not(:last-child) {
  margin-right: 1.25rem;
}

.copyright {
  font-size: 1.5rem;
  text-align: center;
  padding-bottom: 6.25rem;
}
/*# sourceMappingURL=main.css.map */